<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <header>
      <h1>
        About
      </h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
    <section>
      <p>
        Hello World! Welcome to the about page.
      </p>
    </section>
  </body>
</html>
