<!DOCTYPE html>
<html>
    <%- include("./partials/head") %>
    <body>
        <h1>
            Home Page of <%= name %>
        </h1>
        </br>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
        </br>
        <p>
            Hello World! Welcome to the home page.
        </p>
        <% if (list.length > 0) { %>
            <ul>
            <% list.forEach( item => { %>
                <li><%= item %></li>
            <% }) %>
            </ul>
        <% } else { %>
            <p>There are no cars</p>
        <% } %>
    </body>
</html>